body {
  margin: 0;
  padding: 0;
  background-color: #f2f4f5;
  color: #1e1e1f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#app {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.TodoInput {
  background-color: #f9fbfc;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 10px 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 0px 5px 50px rgba(32, 25, 41, 0.25);
}

.TodoInput::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}
.TodoInput:focus {
  outline-color: #61dafa;
}
.TodoTask {
  background: linear-gradient(90deg, #cce4ff 35%, #5d5d5d 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  border-left: solid 4px blue;
}
.TodoTask-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 22px;
  font-family: "Montserrat";
  line-height: 24px;
  font-weight: 400;
}
.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 38px;
  font-weight: bold;
  visibility: hidden;
  /*  background-color: #000000; */
  /* border-radius: 50px; */
  margin-right: 30px;
}

.Icon-delete {
  position: absolute;
  /* top: -24px; */
  right: 0;
}

.Icon-delete:hover {
  color: rgb(255, 1, 1);
}

.TodoList {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}

.TodoTask:hover .Icon {
  visibility: visible;
}
